.master-root {
  position: relative;
  min-height: 300px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.card {
  position: absolute;
  height: 200px;
  width: 180px;
  cursor: pointer;
  transform-origin: center center;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}
